@(currentPage: com.avaje.ebean.Page[Goods], currentSortBy: String, currentOrder: String)

@import widgets._
@****************************************
* Helper generating navigation links    *
****************************************@
    @link(newPage:Int, newSortBy:String) = @{

        var sortBy = currentSortBy
        var order = currentOrder

        if(newSortBy != null) {
            sortBy = newSortBy
            if(currentSortBy == newSortBy) {
                if(currentOrder == "asc") {
                    order = "desc"
                } else {
                    order = "asc"
                }
            } else {
                order = "asc"
            }
        }

        // Generate the link
        routes.Application.list(newPage, sortBy, order)

    }

@display(goods: Goods) = {
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-default magic-element isotope-item">
            <div class="panel-heading">
                @goods.name<!-- /pb-title -->
            </div><!-- /panel-body-heading -->
            <div class="kits-media">
                <img src="@if(goods.logo!=null){ @goods.logo }" class="img-responsive" alt="">
            </div><!-- /kits-embed -->
            <div class="panel-body">
                <p>
                    <small class="text-muted">
                        <i class="fa fa-user"></i> Mr. Doe
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> Publish 1 day ago
                    </small>
                </p>
                <p>@Html(goods.comment)</p>
            </div><!-- /panel-body -->
            <div class="panel-footer">
                @*<a href="@goods.original_url" class="btn btn-info btn-sm pull-right" target="_blank">返利购买</a>*@
                <a href="@goods.original_url" class="btn btn-primary btn-sm pull-right" target="_blank">直达购买</a>
                <a href="javascript:addFlower('@routes.Goodses.addFlower(goods.id)')" class="btn btn-success btn-sm"><i class="fa fa-thumbs-up"></i>鲜花(<span id="flowerNumber">@goods.flowerList.size()</span>)</a>
                <a href="javascript:addEgg('@routes.Goodses.addEgg(goods.id)')" class="btn btn-danger btn-sm"><i class="fa fa-thumbs-down"></i>鸡蛋(<span id="eggNumber">@goods.eggList.size()</span>)</a>
                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-comments"></i>评论(@goods.commentList.size()</a>
            </div><!-- /panel-footer -->
        </div>
    </div>
}

@main(Messages("welcome")+Messages("application")) {
    <div class="row">

    @for(goods <- currentPage.getList){
        @display(goods)

    }

    </div>


    <script type="text/javascript" src="@routes.Assets.at("javascripts/plugins/waypoints/waypoints.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/plugins/waypoints/waypoints-infinite.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    <script type="text/javascript">
    function addFlower(url){
    $.get(url, function(data){
       if(data.status==false){
           alert("@Messages("flower.add.failed")");
       } else {
            $("flowerNumber" ).html(data.number);
           alert("@Messages("flower.add.success")");
       }
    });
    }

    function addEgg(url){
        $.get(url, function(data){
            if(data.status==false){
                alert("@Messages("egg.add.failed")");
            } else {
            $("eggNumber" ).html(data.number);
                alert("@Messages("egg.add.success")");
            }
        });
    }
    </script>
}
